.header-container {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    box-shadow: -10px 0 10px 5px #444;

    .logo-container {
        display: flex;
        align-items: center;
        padding-left: 1rem;
    }

    .header-links {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .link {
            padding: 10px 15px;
            cursor: pointer;
        }
    }
}
