body {
    font-family: 'Open Sans Condensed', 'Roboto', serif;
    height: 100vh;
    min-width: 100%;
}

.page-container {
    padding: 0 1rem;
    max-width: 1600px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

@media screen and(max-width: 350px) {
    .page-container {
        padding: 0 0;
    }
}
